@import 'sizes.scss';
@import 'colors.scss';

.header {
    display: flex;
    align-items: center;

    color: map-get($colors, white);
    background-color: map-get($colors, dark-blue);

    >:not(:last-child) {
      margin-right: map-get($sizes, medium);;
    }

  .icon-react {
    width: 3rem;
    height: 3rem;
    padding: map-get($sizes, large);

    background-image: url('~ui/assets/images/react.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
}
